.cover {
  box-sizing: border-box;
  padding: 60px;
  background-image: url("../images/tim-mossholder-9Gg_D6eLnC0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 4px solid black;
  background-position: center;
}

.cover__title {
  margin: 0;
  font-family: Anton;
  -webkit-text-stroke: 2px black; /* width and color */
  color: #fff;
  font-size: 40px;
}

.cover__title-line {
  margin: 0;
}