.events-modal {
  background: rgb(255, 255, 255, 0.9);
  position: fixed;
  height: 50vh;
  width: 40vw;
  min-width: 300px;
  max-width: 480px;
  bottom: 90px;
  left: 70px;
  border-radius: 3%;
  display: grid;
  grid-gap: 20px;
  visibility: hidden;
}

.events__modal_icon {
  
}