.events-modal {
  box-sizing: border-box;
  min-width: 250px;
  background: rgb(255, 255, 255, 0.98);
  position: fixed;
  height: 50vh;
  width: 40vw;
  max-width: 480px;
  bottom: 90px;
  left: 70px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  border: 2px solid #000;
  padding: 0 1.5vh 0;
}

.events-modal_visible {
  opacity: 1;
  visibility: visible;
}

.events-modal__title {
  font-family: Anton;
  font-size: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  width: fit-content;

}

.events-modal__events {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.events-modal__event {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: 15px;
}

.events-modal__event-button {
  height: 40px;
  width: 40px;
  background: url("../images/icons/events.svg");
  border: none;
  font-family: Anton;
  padding-top: 15px;
  font-size: 14px;
}

.events-modal__event-button:hover {
  cursor: pointer;
}



.events-modal__event-date {
  margin: auto 0 auto 0;;
  font-family: Anton;
  font-weight: 300;
  font-size: 20px;
}

.events-modal__event-info {
  margin: 0 0 0 10%;
  font-family: Bizud;
  font-size: 15px;
  font-weight: 1000;
}

@media screen and (max-width: 440px) {
  .events-modal {
    width: 70%;
    margin-right: 5px;
  }
}