.page {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  background: #000;
  padding-bottom: 6vh;
}


.page__events-button{
  border: none;
  background: rgb(255, 255, 255, 0.9);
  border-radius: 50%;
  position: fixed;
  display: flex;
  bottom: 25px;
  left: 25px;
  height: 55px;
  width: 55px;
}

.page__events-button:hover {
  cursor: pointer;
}

.page__events-button-icon {
  margin: auto;
  position: relative;
  width: 60%;
  height: 60%;

}

